.mui-content {
    padding: 15px;
}

.search {
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

#ser-car {
    margin-bottom: 0px;
    border: none;
    outline: none;
}

#ser-btn {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 42px;
    border-radius: 42px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.mui-card {
    margin: 0;
}

.mui-card-header {
    background-color: #007aff;
    color: #fff;
}
